#results-heading {
  margin: 12px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.image-results {
  margin-top: 5rem;
  padding: 32px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  border: 4px solid grey;
}
