#results-heading {
  margin: 12px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.image-results {
  padding: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image-container {
  margin: 6px;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-items: center;
  border-style: solid;
  border-width: 8px;
  border-color: slategray;
  border-radius: 8px;
}

.image-results__image {
  height: 300px;
  width: 300px;
  object-fit: cover;
}